[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wikidata-bot-framework = ">=7.2.0"
python-dateutil = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.10"
