[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wikidata-bot-framework = ">=1.0.2"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
